body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.logo {
    margin: 0;
    font-size: 1.5rem;
}

.back-button {
    display: inline-block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    background-color: #007BFF;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
}

.top-up-section {
    text-align: center;
    margin: 2rem 1rem;
}

.game-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.game-item {
    background-color: white;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.game-item h3 {
    font-size: 1.2rem;
}

.game-item button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.game-item button:hover {
    background-color: #218838;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    background-position: bottom;
}